* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.exercise-card {
    border: 1px solid gray;
    max-width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 0 10px;
    position: relative;
}

.exercise-card img {
    width: 100%;
}

.exercise-card h3 {
    font-size: 22px;
    margin: 20px;
}

.exercise-card h4 {
    font-size: 20px;
    margin: 0 20px;
}

.add-to-list-btn {
    width: 100%;
    background-color: purple;
    color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.add-to-list-btn:hover {
    background-color: #2abdee;
    color: white;
    transition: .3s;
}