* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.activity-container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    margin: 50px auto;
}

.site-title {
    color: purple;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px auto;
    padding-bottom: 50px;
}

.info-container {
    display: flex;
}

.person-info {
    margin-left: 10px;
}

.activity-tracker-container {
    min-width: 300px;
    background-color: lightgray;
    margin: 0px;
    padding: 20px;

}

.person-details {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.rounded-btn {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
}

.rounded-btn:hover {
    background-color: purple;
    color: white;
    border: none;
    transition: .5s;
}

.exercise-time {
    background-color: #fff;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.break-time {
    background-color: #fff;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.compleated-btn {
    width: 100%;
    padding: 15px 0px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 8px;
}

.compleated-btn:hover {
    background-color: #2abdee;
    transition: .3s;
}

@media (max-width:1400px) {
    .activities {
        grid-template-columns: repeat(3, 1fr);
    }

    .activity-tracker-container {
        width: 300px;
    }
}

@media (max-width:1310px) {
    .activities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:990px) {
    .activity-container {
        flex-direction: column-reverse;
    }

    .activities {
        grid-template-columns: repeat(2, 1fr);
    }

    .activity-tracker-container {
        width: 620px;
        margin: 0 auto;
    }
}

@media (max-width:640px) {
    .activity-container {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .activities {
        grid-template-columns: 1fr;
    }

    .activity-tracker-container {
        width: 300px;
        margin: 0px auto;
    }


}